.navbar {
	background-color: #eaf;
	display: flex;
}
.navbar .logo {
	height: 50px;
	border: solid 1px;
	flex-grow: 3;
}

.navbar > ul {
	flex-grow: 7;
	display: flex;
	justify-content: space-evenly;
}
.navbar > ul > li {
	list-style: none;
	position: relative;
}
.navbar > ul > li:hover > ul {
	/* display: block; */
	opacity: 1;
	height: 158px;
}
.navbar >ul > li > ul {
	border: solid 1px;
	padding: 0;
	position: absolute;
	width: 100px;
	text-align: center;
	left: -19px;
	background-color: #efa;
	/* display: none; */
	transition-duration: 0.5s;
	opacity: 0;
	height: 0;
	overflow: hidden;
}
.navbar >ul > li > ul li{
	list-style: none;
	padding: 10px 15px;
}